<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>LSApplicationCategory</key>
	<string>public.app-category.social-networking</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SUPublicEDKey</key>
	<string>BICZUGaq7i2Fy6x29pOK/BOEhrFwqqMyns0tdAOcKkM=</string>
	<key>SUFeedURL</key>
	<string>https://get-pulso.github.io/mac-releases/appcast.xml</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.get-pulso.mac</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pulso</string>
			</array>
		</dict>
	</array>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
</dict>
</plist>
